@media only screen and (max-width: 480px) {
    h1 { 
        font-size: 30px;
    }
    h2 {
        font-size: 15px;
    }
    p {
        font-size: 13.8px;
    }
    .logo {
        width: 50px;
        height: 50px;
    }
    .mapa {
        height: 25%;
        width: 25%;
    }    
    .showroom {
        height: 25%;
        width: 25%;
    }
    }

    
    @media only screen and (min-width: 401px) and (max-width: 960px) {
    h1 { 
        font-size: 40px;
     }
     h2 {
         font-size: 25px
     }
     p {
         font-size: 14.8px;
     }
    .logo {
        width: 75px;
        height: 75px;
    }
    .mapa {
        height: 50%;
        width: 50%;
    }
    .showroom {
        height: 50%;
        width: 50%;
    }
    }
    
    @media only screen and (min-width: 961px) {
     h1 { 
         font-size: 50px;
       
    }
    h2 {
        font-size: 35px
    }
    p {
        font-size: 15.8px;
    }
    .logo {
        height: 100px;
        width: 100px;
    }
    .mapa {
        height: 100%;
        width: 100%;
    }
    .showroom {
        height: 100%;
        width: 100%;
    }
    }