@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$parrafos: 'Oxygen', sans-serif;
$titulos: 'Playfair Display', serif;
$enlaces: 'Raleway', sans-serif
